	
	<% include partials/head %>
   <hr>
<!--FORMULARIO DE EDIÇÃO DO COLEGIO-->
<div class="container-fluid">
    <div class="corpo">
              <div class="content">


                  
             <section class="saldo-disp">
                 <div class="cap_tabela">
                     
                       <div class="foto_perfil">
                       
                             <img src="/uploads/img_colegios/logo.png" width="120">                         
                     </div>
                 </div>
                 <div class="sobre-min">
                     <div class="meu-dados">
                       <h3>SEJA BEM-VINDO <%=nome %></h3>
                         <div class="sob">
                             <h3>Sobre mim</h3>
                                        
                         </div>
                     </div>
                 </div>
             </section>
                  
             <section class="selacao-activeRec">
                 <div class="titulo_recentes">
                    <h3>Serviços recentes</h3>
                </div>
                    
                
                  <div class="actividade-rec">
                        
                            
                            <div class="vivitantes">
                                <h4>Visitantes do nosso website</h4>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                            <div class="clientesCadastrado">
                                <h4>Clientes cadastrados</h4>
                                <a href="#" class="btn btn-primary">Ver</a>
                            </div>
                    
                    </div>
                    <div class="serv_pagamento">
                        <div class="pagamentos-feitos">
                            <h4>Pagamentos</h4>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                        <div class="carteiras-Cadastradas">
                                <h4>Carteiras</h4>
                                <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                      
                
              </section>
         
             
         </div>
     </div>
	<% include partials/footer%>