<% include partials/head %>
                               
    <div class="container">
            <div class="card-body">
                <h2 class="card-title">Editar o Perfil</h2>  
                <hr>   
                                    <form action="/colegios/perfilcolegio" method="POST">
                                        <label>Nome do Complexo Escola</label ><br>
                                        <input type="text" name="Nome_Colegio" placeholder="Nome da Instituição:"  class="form-control" required>
                                        <label>Data de Fundação Complexo Escola</label><br>
                                        <input type="date" name="data_fundacao" class="form-control" required>
                                
                                        <select name="provincia" class="form-control"><br>
                                                <option>Seleciona a provincia em que se encontra Complexo</option>
                                                <option value="Luanda">Luanda</option>
                                                <option value="Benguela">Benguela</option>
                                                <option value="Huila">Huila</option>
                                                <option value="Moxico">Moxico</option>
                                                <option value="Bié">Bié</option>
                                                <option value="Huambo">Huila</option>
                                        </select><br>
                                        <label>Múniciopio</label>
                                        <input type="text" name="municipio" placeholder="Múniciopio:" class="municipio" required>
                                        <label>Bairro</label>
                                        <input type="text" name="bairro" placeholder="Bairro" class="bairro" required>
                                        <label>Rua</label>
                                        <input type="text" name="rua" placeholder="Rua:" class="rua" required>
                                        <label>Telefone do colegio</label>
                                        <input type="tel" name="casa" placeholder="Telefone DE casa" class="casa" required>
                                        <label>Movicel</label>
                                        <input type="tel" name="movicel" placeholder="244-992-735-537"  class="movicel" required>
                                        <label>Unitel</label>
                                        <input type="tel" name="unitel" placeholder=" 244-923-735-537" class="unitel" required>
                                        <button type="submit" class="btn btn-primary" id="btn_terminar">Salvar</button>
                                        </form>
                        </div>
                </div>