

<% include partials/head %>

        <div class="container">
            <div class="card-body">
                <h2 class="card-title">Pagamentos Efetuados</h2>
                 <hr>
             </div>
        </div>