<!-------------------------------Arquivos java script ---------------->
<script src="/js/jquery.min.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/main.js"></script>
<script src="/js/main_home.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
</body>

</html>