<% include partials/head %>
    <div class="container-fluid">
        <div class="corpo">
            <div class="criar-carteira">
                <h2>Criar Carteira Virtual</h2>
                <hr>
                <form action="/encarregados/carteira/pagar" method="post">

                    <div class="col-sm-12">
                        <div class="caixa-inputs">
                            <div class="input_text"> </div>
                            <label>Entre com Seu Nº de conta</label>
                            <input type="number" name="nuConta_encarregado" placeholder="Seu Número de Conta" class="form-control" required>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="caixa-inputs">
                            <div class="input_text"> </div>
                            <label>Entre com o Nº de conta do colégio</label>
                            <input type="number" name="nuConta_colegio" placeholder="Nº de conta do colégio:" class="form-control" required>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="caixa-inputs">
                            <div class="input_text"> </div>
                            <label>Valor</label>
                            <input type="number" name="valor" placeholder="Digita o valor a pagar" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="caixa-inputs">
                            <div class="input_text"> </div>
                            <label>Código do estudante</label>
                            <input type="number" name="codigoPessoal" placeholder="Digita aqui o Código do seu Educando:" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" id="btn_transferir">Criar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include partials/footer%>