<% include partials/head %>
    <div class="container-fluid">
        <div class="corpo">
            <div class="caixa-form">
                <nav>
                    <div class="logo-img"><img src="/img/logo1.png" width="100"></div>
                    <div class="btn_nav">
                        <button class="btn_voltar" id="">
                             <a href="/encarregados">home</a>
                           </button>
                        <button class="btn" id="">
                             <a href="/encarregados/carteira/minhaconta">Visão geral da conta</a>
                           </button>
                        <button class="btn" id="">
                            <a href="/encarregados/carteira/verpagamentos">Todas as transfências feitas</a>
                            </button>
                    </div>
                    <button class="btn-sair" id="btn_sair">
                            <span><img src="/img/icon/icons8_Shutdown.ico" width="25"></span>
                            </button>
                </nav>

                <hr>
                <div class="content">
                    <section class="trasnsferenca-feitas">
                        <div class="cap_tabela">
                            <h3>Transições recentes</h3>
                        </div>

                        <table class="table table-striped table-bordered">
                            <thead class="topo_tab">
                                <tr>
                                    <th scope="col">Data</th>
                                    <th scope="col">Nome do aluno</th>
                                    <th scope="col">colégio</th>
                                    <th scope="col">valor</th>
                                    <th scope="col">Multa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>15/04/2019</th>
                                    <th>Maria João Alberto</th>
                                    <th>Brilhantes</th>
                                    <th>13,100.00 kz</th>
                                    <th>0.00 kz</th>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer%>