<footer class="bg-dark text-white" id="baixo">
    <div class="container py-4">
        <div class="row topo">
            <div class="col-md-3">
                <h4 class="h6">Parceiros</h4>
                <ul class="list-unstyled">
                    <li><a href="index.html">Unitel</a></li>
                    <li><a href="portfolio.html">Movicel</a></li>
                    <li><a href="servicos.html">TV Cabo</a></li>
                    <li><a href="contato.html">ZAP Fibra</a></li>
                    <li><a href="contato.html">angola telecom</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="h6">Parceiros</h4>
                <ul class="list-unstyled">
                    <li><a href="contato.html">BNA</a></li>
                    <li><a href="portfolio.html">BFA</a></li>
                    <li><a href="servicos.html">BAI</a></li>
                    <li><a href="contato.html">BANCO SOL</a></li>
                    <li><a href="contato.html">ATLANTICO</a></li>
                </ul>
            </div>

            <div class="col-md-6">
                <h4 class="h6">DADOS DE CONTATO</h4>
                <ul class="list-unstyled text-secondary">
                    <li><a href="pco.pagamentoscolegiasonline@gmail.com">pco.pagamentoscolegiasonline@gmail.com</a></li>
                    <li><a href="tel:1938568213">244 991735637</a></li>
                    <li><a href="tel:19998421526">244 923720407</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <h4 class="h6">REDES SOCIAIS</h4>
                <ul class="list-unstyled">
                    <li><a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="https://www.facebook.com/PCO-pagamentos-col%C3%A9gias-Online-900374146769331/" style="max-width: 140px" target="_blank">Facebook</a></li>
                    <li><a class="btn btn-outline-secondary btn-sm btn-block mb-2" href="https://www.instagram.com/mdsolutionsweb/" style="max-width: 140px" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center py-3 mycolor">
        <p class="mb-0">PCO- Kambaia L. Alberto © 2019. pagamento colegias online.</p>
    </div>
</footer>


<script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</body>

</html>