<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Pagamentos Colegias Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta property="og:url" content="http://www.pco.com" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="Plataforma de pagamentos de propinas">
    <link rel="icon" type="/image/png" sizes="96x96" href="/img/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|PT+Sans" rel="stylesheet">



    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top py-3 box-shadow">
        <a href="index.php" class="navbar-brand">
            <img src="public/img/logo.png" alt="pco" width="80">
        </a>

        <button class="navbar-toggler min" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
        <span class=""><img src="public/img/icon/menu.png" alt="pco" width="20"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="index.php">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="servicos.php">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="escolhaUsuario.php">Criar conta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre.php">sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipa.php">Equipa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.php">Contato</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acesso
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="escolhaUsuario.php">Cadastrar</a>
                        <a class="dropdown-item" href="login.php">Entrar</a>
                        <a class="dropdown-item" href="ajuda.php">Ajuda</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>