<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">


    <div>
    <h1 class="erro">ERRO VOCÊ NÃO TEM AUTORIZAÇÃO DE ACESSAR ESTÁ PAGINA </h1> <a href="/login"><button class="btn-back"> Voltar <img src="../img/icon/icons8_Forward_32.png" ></button></a>
    <div class="erro-alert">
        <img src="../img/icon/icons8_Error.ico">
    </div>
  </div>

   