<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
	
	

    <title>pco_pagamantos colégias online</title>
  </head>
  <body>
     <?php include("cabecalho.php")?>
       <section class="banner">
          <header class="cabecalho">
              <nav class="sub-nav">
                  
                  <a href="/login">Login</a>
                  <a class="home-nava" href="/">Menu</a>
                  
              </nav>
            <div class="logo"><h2><img src="img/logo1.png"></h2></div>
            <nav class="nav">
              <ul class="menus">
                  <li><a class="page" href="index.php">Home</a></li>
                  <li><a class="page" href="#services">Servicos </a></li>
                  <li><a class="page" href="#bancos">Bancos</a></li>
                  <li><a class="page" href="/cadastro">Criar conta</a></li>
                  <li><a class="page" href="#sobre">Sobre</a></li>
                  <li><a class="page" href="#equipa">Equipa</a></li>
                  <li><a class="page" href="#contacto">Contactas</a></li>
              </ul>
           </nav>
              
         </header>
           
           <div class="slid">
             <img src="img/10.jpg" width=400>
           </div>
           
           </section>
            
           
     
	  
	  <div class="container">
	        
	  </div>
      <section class="banner">
              
           </section>
      <script>
         
      </script>
   
  <script src="js/jquery.min.js"></script>
  <script src="/js/main.js"></script>
    </body>
</html>
