<% include partials/head %>
    <% include partials/nav %>

        <div class="transfesucesso">
            <div class="col-sm-12">
                <h1 class="alert alert-success">Pagamento feito com sucesso!!!!</h1>
                <img src="/img/load/checked.png" width="150">
                <h6 class="">Aproveite o momento e volte sempre!</h6>
            </div>
            <div class="bt_decisao">
                <a href="/encarregados/carteira/minhacarteira"><button class="btn btn1">Voltar a carteira</button></a>
                <a href="/encarregados"><button class="btn btn2">Voltar ao menu inicial</button></a>
            </div>
        </div>

        <script src="/js/javascript_da_cateirafrontEnd.js"></script>
        <!--------------------------Fim ------------------------->