
<div class="header">
						
        <div class="logo">
                
            
            <span>PCO</span>
            <i class="fa fa-tachometer"></i>
        </div>
        <a href="#" class="nav-trigger"><span></span></a>
    </div>