<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>PCO-Pagamentos Colegias Online</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/admin.css">
    
    
   
</head>
<body>
    <header>
          <div class="logo">
        
            
            <div class="img_logo">
              <div class="logo-img"><img src="/img/logo1.png" width="100"></div>
            </div>
              <nav>
                  <ul id="ul-principal">
                    <li class="li-p">
                        <a href="/admin">
                            Home
                        </a>
                   </li>
                    <li class="li-p">
                        <a href="javascript://" class="bt-click1">
                            Actividades
                           <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-sobreNos">
                            <li><a href="#"></a></li>
                            <li><a href="#">Clientes usando o PCO</a></li>
                            <li><a href="#">Todos pagamentos feitos</a></li>
                            <li><a href="#">Serviços mais usado</a></li>
                            <li><a href="/admin/visitantes">Visitantes</a></li>
                        </ul>

                      </li>
                    <li class="li-p">
                       <a href="javascript://" class="bt-click2">
                            Cadastrados
                            <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-encarregado">
                            <li><a href="#">Encarregado</a></li>
                            <li><a href="#">Colégio</a></li>
                        </ul>
                      </li>
                    <li class="li-p">
                       <a href="javascript://" class="bt-click3">
                            Carteira
                            <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-aluno">
                            <li><a href="/admin/carteira">Criar carteira </a></li>
                            <li><a href="#">Fazer deposito</a></li>
                            <li><a href="#">Consultar IBM</a></li>
                            <li><a href="#">Todas as contas</a></li>
                        </ul>
                    </li>
                    <li class="li-p">
                     <a href="javascript://" class="bt-click4">
                            Pagamentos
                            <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-pagar">
                            <li><a href="#">Recentes</a></li>
                            <li><a href="#">A dois mês</a></li>
                            <li><a href="#">A um ano</a></li>
                            <li><a href="#">Mais antigos</a></li>
                        </ul>
                      </li>
                   
                  </ul>

              </nav>    
              
            </nav>

            <div class="opcoa_sair">
                  <span><a href="#" ><img src="/img/icon/icons8_Notification.ico"></a></span>
                  <span><a href="#"><img src="/img/icon/icons8_Settings.ico"></a></span>  
                  <span><a href="#" id="btn_sair"><img src="/img/icon/icons8_Export.ico"></a></span>       
            </div>
      </div>
  </header>    
	