

<% include partials/head %>
<div class="card-body">
            
              
    <div class="modal-card">
           
                
                <div class="topo">
                        <h2>Pagamentos veitos</h2>
                        <hr>
                </div>
              
          
        </div>
        
</div>