
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>PCO-Pagamentos Colegias Online</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/usuarios.css">
    
    
    
    <!-------------------------------Arquivos java script ---------------->
    <script src="/js/jquery.min.js"></script>
	<script src="/js/nav.js"></script>
		<script src="/js/arquivo_admin.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/main_home.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="main.js"></script>
</head>
<body>
    <header>
          <div class="logo">
        
          </div>
            <nav>
                <ul id="ul-principal">
                  <li class="li-p">
                        <a href="/colegios">Home</a>
                 </li>
                  <li class="li-p">
                      <a href="javascript://" class="bt-click1">
                          Sobre Nós
                          <img src="/img/icon/Downward_.png">
                      </a>
                      <ul class="ul-sobreNos">
                        <li><a href="/colegios/sobre">Sobre Colégio</a></li>
						<li><a href="/colegios/perfilcolegio">Editar o  perfil do colégio</a></li>
                      </ul>

                    </li>
                  <li class="li-p">
                     <a href="javascript://" class="bt-click2">
                          Encarregados
                          <img src="/img/icon/Downward_.png">
                      </a>
                      <ul class="ul-encarregado">
							<li><a href="/colegios/addconvocatoria">Todos</a></li>
							<li><a href="/colegios/enviarconvocatoria"> Enviar convocatória</a></li>
                          <li><a href="#">link3</a></li>
                          <li><a href="#">link4</a></li>
                      </ul>
                    </li>
                  <li class="li-p">
                     <a href="javascript://" class="bt-click3">
                          Alunos
                          <img src="/img/icon/Downward_.png">
                      </a>
                      <ul class="ul-aluno">
                            <li><a href="/colegios/addalunos">Cadastrar Estudante</a></li>
                            <li><a href="/colegios/listaralunos">Todos Alunos</a></li>
                          <li><a href="#">link3</a></li>
                          <li><a href="#">link4</a></li>
                      </ul>
                  </li>
                  <li class="li-p">
                   <a href="javascript://" class="bt-click4">
                          Pagamentos
                          <img src="/img/icon/Downward_.png">
                      </a>
                      <ul class="ul-pagar">
                            <li><a href="/colegios/pagamentos">Todos os pagamentos</a></li>
                            <li><a href="">Pagamentos actual</a></li>
                          <li><a href="#">link3</a></li>
                          <li><a href="#">link4</a></li>
                      </ul>
                    </li>
                  <li class="li-p" id="sair">
                      <a href="javascript://" class="bt-click5">
                          Sair
                          <img src="/img/icon/Downward_.png">
                      </a>
                      <ul class="ul-sair">
                            <a href="javascript://" class="bt-click5"></a>
                            <li id="btn_sair"><a href="">Terminar sessõa</a></li>
                            <li id="btn_sair"><a href=""><%=nome%></a></li>
                      </ul>
                    </li>
                </ul>

            </nav>
    </header>
						       
</body>
</html>