<!DOCTYPE html>
<html>
<head>
	<title>PCO</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
>
<div class="side-nav">
    
		<div class="logo">
		
		</div>
		<nav class="menu">
				<ul>
					   <div class="usuario">
							 <img  src="img/icon/icons8_Male_User.ico"><br>
						</div>
						<li class=""><img src="img/icon/icons8_User.ico"><a href="#">Admin</a>
						
						<ul>
							<li><a href="">Sobre mim</a></li>
							<li><a href="">editar perfil</a></li>
							<li id="btn_sair"><a href="#">Terminar sessõa</a></li>
						</ul>
					</li>
						
						
					<li>
							<img src="img/icon/icons8_User_Account.ico">
							</span>
						<a href="#">Usúarios</a>
							
						 <ul>
							 <li><a href=""> Todos usuarios</a></li>
						 </ul>
					</li>
					<li ><img src="img/icon/icons8_Student_Male.ico"></span><a href="#"> 
							
							Alunos</a>
						<ul>
							
							<li><a href="">Todos Alunos</a></li>
						</ul>
					
					</li>
					<li>
						<img src="/img/icon/icons8_Card_Payment.ico">	
						<a href="#"> Pagamentos 	
						
							
						</a>
						<ul>
							<li><a href="">Todos os pagamentos</a></li>
						</ul>
					</li>
				</ul>
			</nav>
	</div>
	
</body>
</html