<% include partials/head %>
    <div id="Painel-da-convocatoria">
        <nav class="navbar">


        </nav>

        <div class="paineis-geral-carteira">
            <div id="confirm-carteira">
                <div id="titulo-dd-carteira">
                    <div class="col-sm-12">
                        <h1 class="alert alert-success">A sua conta foi criada com sucesso!</h1>
                        <img src="/img/load/checked.png" width="90">
                        <h2 class="">´´Entre agora em seu email acabamos de o enviar o código de acesso a sua carteira´´</h2>
                    </div>
                    <div class="bt_decisao">
                        <a href="/colegios/carteira"><button class="btn btn1">Acessar a carteira</button></a>
                        <a href="/colegios"><button class="btn btn2">Voltar ao menu inicial</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="/js/main.js"></script>

    <!--------------------------Fim ------------------------->