
<% include partials/head %>
<link rel="stylesheet" href="/css/style_colegio.css">

<div class="container-flue">
        <nav id="navbar">
            <ul class="menu-li">
                 <a href="/colegios/configuracoes">Conta</a></li>
                <a href="/colegios/definicao">Informações</a></li>
            </ul>
        
        </nav>
    </div>

    
<div class="rodape">
    <span>Segurança</span>
    <span>Ajuda</span>
</div>