
 
    <% include partials/head %>
	<div class="container">

			<div class="card-body">
				<h2 class="card-title">Meu Perfil Completo</h2>
			<hr>
					
							<span>Nome do Administrador: <%=nome%></span><br>
							<span>Email do Administrador: <%=email %></span><br>
							<span>Complexo Escolar: <%=Nomecologio%></span><br>
					
					</div>
				
				<button type="submit" class="btn btn-primary" id="btn_terminar">Salvar</button>
			</div>
		</div>
							
		<% include partials/footer %>
