

<!-------------------------------Arquivos java script ---------------->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/nav.js"></script>
		<script src="/js/arquivo_admin.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/main_home.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="main.js"></script>

    </body>
</html>
  
