<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>PCO-Pagamentos Colegias Online</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/admin.css">



</head>

<body>
    <header>
        <div class="logo">


            <div class="img_logo">
                <div class="logo-img"><img src="/img/logo1.png" width="100"></div>
            </div>
            <nav>
                <ul id="ul-principal">
                    <li class="li-p">
                        <a href="/bancos">
                            Home
                        </a>
                    </li>

                    <li class="li-p">
                        <a href="javascript://" class="bt-click2">
                            Clientes
                            <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-encarregado">
                            <li><a href="/bancos/cliente">Todos os clientes</a></li>
                        </ul>
                    </li>
                    <li class="li-p">
                        <a href="javascript://" class="bt-click3">
                                Conta bancaria
                            <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-aluno">
                            <li><a href="/bancos/confirmarconta">Fazer deposito</a></li>
                            <li><a href="/bancos/consultarconta">Consultar conta:</a></li>
                        </ul>
                    </li>
                    <li class="li-p">
                        <a href="javascript://" class="bt-click4">
                            Pagamentos
                            <img src="/img/icon/icons8_Sort_Down.ico" width="20">
                        </a>
                        <ul class="ul-pagar">
                            <li><a href="#">Recentes</a></li>
                            <li><a href="#">A dois mês</a></li>
                            <li><a href="#">A um ano</a></li>
                            <li><a href="#">Mais antigos</a></li>
                        </ul>
                    </li>

                </ul>

            </nav>

            </nav>

            <div class="opcoa_sair">
                <span><a href="/bancos/notificação"><img src="/img/icon/icons8_Notification.ico"></a></span>
                <span><a href="/bancos/perfil"><img src="/img/icon/icons8_Settings.ico"></a></span>
                <span><a href="#"><img src=""></a></span>
                <span><a href="#"><img src=""></a></span>
                <span><a href="#" id="sair"><img src="/img/icon/icons8_Export.ico"></a></span>
            </div>
        </div>
    </header>