<!-------------------------------Arquivos java script ---------------->
<script src="/js/jquery.min.js"></script>

<script src="/js/javascript_da_cateirafrontEnd.js"></script>
<script src="/js/transicao.js"></script>
<script src="/js/main_home.js"></script>


</body>

</html>