<div class="caixa-form">
    <nav>
        <div class="logo-img">
            <a href="/encarregados"><img src="/img/logo.png" width="100"></a>
        </div>
        <div class="btn_nav">
            <button class="btn" id="">
                         <a href="/encarregados/carteira/minhacarteira">Visão geral da conta</a>
                       </button>
            <button class="btn" id="">
                        <a href="/encarregados/carteira/verpagamentos">Todas as transfências feitas</a>
                        </button>
        </div>
        <button class="btn-sair" id="deslogaEn">
        <a href="#"></a><span><img src="/img/icon/icons8_Shutdown.ico" width="25"></span></a> 
        </button>
    </nav>

</div>