<% include partials/head %>
    <link rel="stylesheet" href="css/main_paginas.css">
    <section class="banner_site">
        <header class="cabecalho">
            <div id="discri">
                <h2 id="titulo">Tire todas suas dúvidas aqui</h2>
            </div>
        </header>
    </section>
    </section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table tb table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Perguntas Comuns</th>
                            <th scope="col">Possíveis respostas das questions mais feita</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a href="/ajuda">PCO</a></th>
                            <th scope="row">
                                <div id="s1"> O que é o pco? O que é que ele faz? Como Funciona?</div>
                            </th>

                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Pagamentos</a></th>
                            <td scope="row">
                                <div id="s2"> O que faço para começar a fazer os pagamentos com pco?</div><br>
                                <p class="hide" id="descipcao2">Para começar a usar o pco, basta cadastar-se como um encarregado ou colégio. <br>Isto se pertences a uma instituição escolar, como sendo director geral ou director administrativo.</p>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Carteira</a></th>
                            <td scope="row">
                                <div id="s3">Para que serve a carteira e como posso obter uma?</div><br>

                                <p class="hide" id="descipcao3">A carteira virtual serve para armazenar o seu dinheiro online, com este dinheiro, será permitido fazer pagamentos. isto se és um encarrgado.<br> E para os colégios a carteira serve para assim receber os pagamentos que serão
                                    feito pelos encarregados.</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Deposito</a></th>
                            <td scope="row">
                                <div id="s4">Como faço os depositos para carregar a minha carteira?</div><br>
                                <p class="hide" id="descipcao4">Para fazer o deposito da carteira basta ir aos bancos BFA, BIC, BAI, BMA, SOL, BCA e fazer o deposito. O deposito será feito em nome do pco e informar o número de sua carteira pco. Ou ainda podes fazer a transfência direitamente
                                    do multicaixa e seguir pela opção PCO, informar o número da sua carteira e fazer a transfência</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Colégios</a></th>
                            <td scope="row">
                                <div id="s5">Que vantagens tenho para usar o pco em meu colégio?</div>
                                <p class="hide" id="descipcao5"></p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Encarregados</a></th>
                            <td scope="row">
                                <div id="s6">O que o pco trás de vantagens para me no meu dia-dia?</div><br>
                                <p class="hide" id="descipcao6">Com tantas tarefas que temos por fazer ao longo do dia, acabamos por nos esquer de fazer o pagamento das propinas dos nossos filhos. E com isso, Trouxemos uma nova forma para facilitar a sua vida. Não será necessário ir
                                    ao colégio ou mandar o seu filho mais velho ir ao banco. Você pode fazer o pagamento aqui. Basta criar uma conta, acessar, solicitar a abertura da sua carteira e logar... Indo na opção minha carteira e começas a fazer
                                    os pagamentos.</p>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Problemas de acesso</a></th>
                            <td scope="row">
                                <div id="s7">Como faço para me inscrever</div><br>
                                <p class="hide" id="descipcao7">Como colégio basta, basta ter a documentação da instituição e se estiver tudo certo. clique <a href="/acesso-encarregado">aqui</a>. E como encarregado Basta ir ao colégio e pedir pelo código de <strong>identificação do colégio</strong>.
                                    E o outro é do seu <strong>filho ou dos seus filhos casso tenha mais de um. Asseguir volte novamente no site cliqui no botão logar ou aqui mesmo clique <a href="/acess-colegio'">aqui </a> e segua os passos</strong></p>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row"><a href="/ajuda.ejs">Problemas de senha</a></th>
                            <td scope="row">
                                <div id="s8">Esqueci a minha senha como faço para recuperar a minha conta?</div><br>
                                <p class="hide" id="descipcao8">Tratando-se de segurança, nós zelamos na proteção do seu dinheiro, então para recuperar a sua conta será necessário entrar em contactos por meio dos contacto que se encontram na barra do rodape ou entrar em contacto na
                                    pagina de contacto
                                    <a href="/contato">Contactar ao suporte técnico</a></p>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>