<% include partials/head %>
    <link rel="stylesheet" href="css/main_paginas.css">
    <section class="banner_site">

        <header class="cabecalho">
            <div class="logo">
                <div class="logo-img">
                    <h2><img src="img/logo1.png" width="140"></h2>
                </div>
            </div>

            </div>
        </header>
    </section>


    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="caixa-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="alert alert-success">Mensagem envia com sucesso</h1>
                            <h3 class="feedback">Enviaremos o feedback no seu email aguarda pela nossa resposta</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer %>