<% include partials/head %>
    <link rel="stylesheet" href="css/main_paginas.css">
    <section class="banner_site">

        <header class="cabecalho">

            <div id="discri">
                <h2 id="titulo">Conheça toda equipa do pco</h2>

            </div>


        </header>
    </section>


    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="caixa-form">
                    <div id=primeiro-conteudo>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="grupo">

                                    <div class="equipa">

                                        <a href="#p4"><img src="/img/equipa1.jpg"></a>
                                        <a href="#p1"><img src="/img/equipa0.jpg"></a>
                                        <a href="#p3"><img src="/img/equipa3.jpg"></a>
                                        <a href="#p2"><img src="/img/equipa2.jpg"></a>
                                    </div>

                                    <div class="section" id="p1">
                                        <span class="nome">KAMBAIA ALBERTO</span>
                                        <span class="border"></span>
                                        <p>Kambaia Alberto 20 Anos de idade, Nascido em Rangel atual CEO, desenvolvedor, técnico em segurança sibernetica e design web começou a sua carreira de programação com os seus 17 anos de idade. Sendo o fundador do
                                            PCO
                                        </p>
                                    </div>

                                    <div class="section" id="p3">
                                        <span class="nome">Peter Miguel</span>
                                        <span class="border"></span>
                                        <p>Peter Miguel 19 Anos de idade, Nascido em Rangel atual administrador das finanças e gerente na aréa dos recursos humanos, Advogado e direitor em marketing digital começou a sua carreira os seus 17 anos idade como
                                            sendo Advogado da empresa</p>
                                    </div>

                                    <div class="section" id="p2">
                                        <span class="nome">Edurado Brito</span>
                                        <span class="border"></span>
                                        <p>Edurado Brito 18 Anos de idade, Nascido no futungo atual administrador na área dos programadores, sendo desenvolvedor e design gráfico começou a sua carreira de programação com os seus 15 anos de idade. sendo o
                                            administrador da equipa de programadores</p>
                                    </div>
                                    <div class="section" id="p4">
                                        <span class="nome">Salustiano Guimaraes Man Salas</span>
                                        <span class="border"></span>
                                        <p>Salustiano Guimaraes Man Salas 21 Anos de idade, Nascido no Benfica atual director de marketing e empreendedor sendo o responsavel das contratações e direitos autorais da plataforma.</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer%>