<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/erro.css">


    <div class="erro-de-acesso">
        <h1 class="erro">ERRO VOCÊ NÃO TEM AUTORIZAÇÃO DE ACESSAR ESTÁ PAGINA </h1>
        <div class="erro-alert">
            <img src="../img/erro.svg">
        </div>
        <a href="/login" style="color: #ccc;"><button class=" erro-btn "> Voltar <span class="centa"><img src="../img/icon/icons8_Forward_32.png " ></span></button></a>
    </div>