<% include partials/head %>
    <link rel="stylesheet" href="css/style_bainnerLogin.css">
    <link rel="stylesheet" href="css/problemaespon.css">

    <div class="container-flue">


        <div id="primeiro-conteudo">

            <section class="banner-escolha-cadastro descricao-cadsatro" id="descricao-cadsatro">
                <div class="desc-img">
                    <h3>Começa já usar o PCO HOJE</h3>
                    <span>Estamos protegendo você.</span>

                    <span>Podemos reembolsar você se algo não estiver certo.
                            Faça pagamentos com tranquilidade, protegemos suas trasnferências de forma eficiente. 
                            Se a sua transferência não chegar ou não for registrada pelo colégio, podemos ajudá-lo a recuperar seu dinheiro.
                            <br>
                        <span class="btn btn-primary"><a href="/sobre">Saiba mais</a></span>
                    </span>
                </div>
                <figure class="figure">
                    <img src="/img/bac-pco.png" class="figure-img img-fluid rounded" alt="..." width="600">
                    <figcaption class="figure-caption text-center">
                    </figcaption>
                </figure>

            </section>
            <section class="banner-escolha-cadastro inicio-decadstro" id="inicio-decadstro">
                <div class="encar">
                    <input class="radio" type="radio" name="opcao" value="1" class="custom-control-input">
                    <label for="customRadioInline1">Colégio</label>
                    <p>Aceite pagamentos e envie todas as convocatórias para todos os encarregados. É mais fácil e mais seguro receber o seu dinheiro direitamente da sua conta a qualquer hora , a qualquer momento e em qualquer lugar.</p>
                </div>

                <div class="">
                    <input class="radio" type="radio" name="opcao" value="2" class="custom-control-input">
                    <label for="customRadioInline1">Encarregado</label>
                </div>
                <p>Faça o pagamentos do seu filhos a partir do seu computador ou dispositivo móvel sempre, sem se locomover ao colégio nem ao banco. É mais fácil e mais seguro fazer o pagamento dos seus filhos direitamente da sua conta a qualquer hora ,
                    a qualquer momento e em qualquer lugar.</p>
                <div class="irLogin">
                    Se já tens uma conta clica aqui para fazer o login <a href="/login">Ir para o login</a></span>
                    </p>
                    <button id="Botao" class="btn btn-primary"> Criar conta agora</button>
                </div>
            </section>
        </div>
    </div>


    <% include partials/footer%>