<% include partials/head %>
<link rel="stylesheet" href="css/main_paginas.css">
       <section class="banner_site">
           
        <header class="cabecalho">
            <div class="logo">
                  <div class="logo-img"><h2><img src="img/logo1.png" width="140"></h2></div>
                <div class="sub-menu">
                    <button class="botao" id="menu">Saiba tudo <img src="/img/icon/icons8_Expand_Arrow.ico" width="22"></button></div>
                <div class="acessar">
                    <a href="/login" class="login">Login</a>
                    <a href="/usuario" class="escreva">Escrever-se</a>
                </div>
                    
             </div>
               
                <nav class="nav" id="Menu_baixo">
                     <ul class="menus">
                      <li><a class="page" href="/">Home</a></li>
                      <li><a class="page" href="/servicos">Servicos </a></li>
                      <li><a class="page" href="bancos">Bancos</a></li>
                      <li><a class="page" href="/usuario">Criar conta</a></li>
                      <li><a class="page" href="/sobre">Sobre</a></li>
                         <li><a class="page" href="/historia">História</a></li>
                      <li><a class="page" href="/equipa">Equipa</a></li>
                      <li><a class="page" href="/contato">Contactas</a></li>
                    </ul> 
              </nav>
               <div id="discri">
                   
               </div>
             
              
         </header>
           </section>


    <section>
        <div class="container-fluid">
                <div class="container">
                    <div class="caixa-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="alert alert-success">Cadastro feito com sucesso</h1>
                                     <h3 class="feedback"><a href="/login">Clique aqui para fazer o login</a></h3>
                                </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
<script src="js/jquery.min.js"></script>
  <script src="/js/main.js"></script>

<!--------------------------Fim ------------------------->