<% include partials/head %>
    <link rel="stylesheet" href="css/main_paginas.css">
    <section class="banner_site">
        <header class="cabecalho">
            <div id="discri">
                <h2 id="titulo">Serços disponíveis</h2>
            </div>
        </header>
    </section>
    </section>

    <section class="container">
        <div class="text-center my-5">
            <h3 class="text-primary mb-1 text-right">Crie já a sua conta e começa a fazer pagamentos dos seus filhos</h3>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="img-fluid mb-4" id="escriacao-1" src="img/mdwebdesign-servicos.jpg" alt="Foto 1">
            </div>
            <div class="col-sm">
                <h6>O pco trás o melhor serviço de pagamentos online em Angola.</h6>

                <span>A mais de 2 anos a equipa pco, foca-se em um serviço de pagamentos de propinas em Angola, Mais de 20 colégios já adiriram, Vá agora ao colégio dos seus
                                 filhos e peça o codigo de inscrição do colégio e volte e crie a sua conta em poucos paços.  <a href="/encarregado">Criar Agora</a><br/>    
                                <h6>Pagamentos Direito</h6>
                                <span>Hoje em dia os pagamentos faz-se a distância , Queres ficar fora deste mundo? Mais de 60% dos pagamentos no mundo faz-se online no seu smartphone ou seu computador. Queres ir sempre ao banco? <a href="/usuario">Cadastrar-se</a> </span>
                </p>
                </span>
            </div>
        </div>
    </section>

    <section class="container">

        <div class="row" id="escricao-pco">

            <div class="col-sm" id="discricao-texto">
                <div class="text-center my-5">
                    <h3 class="text-primary mb-1 text-right">Criação e Manutenção de Sites</h3>
                </div>
                <h6>Entre em contacto com a nossa equipe e crie o seu site.</h6>

                <span>A mais de 2 anos a equipa pco, foca-se no desenvolvimento de sites com melhor qualidade e o melhor estilo. Desejas divulgar o seu colégio?  <a href="/contato">Entre já em Contato</a><br/>    
                                            <h6>Envio de convocatória para encarregado de educação</h6>
                                            <span>Chega de comprar papeis, Adire já o nosso serviço e comece a usar a técnologia. Mais 80% dos colegios no mundo usam as suas actividades online. Então pense bem!  <a href="/colegio">Cadastra-te</a> </span>
                </p>
                </span>
            </div>
            <div class="col-sm" id="discricao-img">
                <img class="img-fluid mb-4" id="escriacao-1" src="/img/escriacao-1.jpg" alt="Foto 1">
            </div>

        </div>
    </section>

    <% include partials/footer%>