<% include partials/head %>
    <link rel="stylesheet" href="css/main_paginas.css">
    <section class="banner_site">
        <header class="cabecalho">
            <div id="discri">
                <h2 id="titulo">Sobre Nós</h2>
            </div>
        </header>
    </section>
    </section>

    <div class="row">
        <div class="col-md-12">
            <div class="bloco1">
                <div class="foto-servico">
                    <figure class="descriplion">
                        <img src="/img/pagar-pco.jpg" class=" " alt="..." width="600px">
                    </figure>
                </div>
                <div class="descricao-servico">
                    <span class="sobre_pco">
                                        O PCO é a maneira mais fácil e segura de pagar as suas propinas
                                        online. O serviço permite que qualquer encarregado
                                        pague da maneira que preferir, pela conta bancárias ou por uma conta pco,
                                        sem compartilhar informações financeiras.
    
                                        O pco vem trazer o melhor serviço a nivel nacional de forma a resolver os problemas de   
                                        pagamento de propinas online nas 18 provincias Angola. <br>
    
                    
                                        Localizado no Benfica Talatona, iniciado pelos serviços de envio de convocatória para os pais em 2017.
                                        Atualmente a equipa vem procurando parcerias e financiamento para assim expandir o serviço em toda parde de Angola.
                                        <a href="/servicos">Conheça agora os serviços disponiveis</a>
                                        </span>
                    </di>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer%>